@page
@model SavedInSessionModel
@{
    ViewData["Title"] = "Data in session";
}
    <p>Data saved in session</p>

@if (Model.FizzBuzz != null)
{
    <p>@Html.DisplayNameFor(model => Model.FizzBuzz.Number):
    @Model.FizzBuzz.Number </p>
}